<div class="container">
    <br>
    <table class="table table-hover table-dark">
        <tr class="bg-success">
            <th scope="row">Mobi imperdiet, sapien aconsequat sollicitudin</th>

        </tr>
    </table>

    <div class="row">
        <div class="col-10 offset-md-1">
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="container">
                        <img class="d-block w-100" src="./assets/img/gauge.png">
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="container">
                        <img class="d-block w-100" src="./assets/img/gauge.png">
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="container">
                        <img class="d-block w-100" src="./assets/img/gauge.png">
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="container">
                        <img class="d-block w-100" src="./assets/img/gauge.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-6">
                <div class="container">
                    <img class="d-block w-100" src="./assets/img/stackedbars.png">
                </div>
            </div>
            <div class="col-6 col-md-6">
                <div class="container">
                    <img class="d-block w-100" src="./assets/img/box-plot.png">
                </div>
            </div>

        </div>